<!doctype html>
<html lang="en">
<head>
    <title>{{title}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">

    {{#description}}
        <meta name="description" content="{{description}}">
    {{/description}}

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel = "stylesheet" href="/stylesheets/bootstrap-cerulean.css">
    <link rel="stylesheet" href="/stylesheets/style.css">


    <div>

    </div>
    <script type="text/javascript" src='/javascripts/jquery.js'></script>
    <script type="text/javascript" src='/javascripts/bootstrap.min.js'></script>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="/">
                <img alt="POL" src="/img/pol-logo.png" class="nav-logo">

            </a>
        </div>

        <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/myGroup">Team Alpine</a></li>
                <li><a href="/mySales">My Sales</a></li>
                <li><a href="/investors">Investors</a></li>
                <li><a href="/products">Products</a></li>
                <li><a href="/contest">Contest</a></li>
                <li><a href="/shop">Shop</a></li>
            </ul>
        </div>
    </div>
</nav>

{{{ body }}}

</body>
</html>