
   <div class="container">
    <div class="jumbotron jumbotron-color">

        <div class="page-header text-center">
            <h2>Welcome to POL's Agency Portal</h2>

        </div>

        <div class="row">
            <div class="col-md-9">
                <h3>Latest Higlights ! </h3>
                <ul>
                    <li>New single payment product launched ! Sales brochures available.</li>
                    <li>New contest "Road to Athens" starts today. </li>
                    <li>Congratulations to last months contest "Raise your status with Louis Vitton"</li>
                </ul>
                <p></p>
                <p></p>
                <p></p>
                <p></p>


            </div>

            <div class="col-md-3">
                <p><a class="btn btn-primary" role="button">Learn more</a></p>

            </div>
        </div>

        <form class="form-inline">
            <div class="form-group">
                <label class="sr-only" for="exampleInputEmail3">Email address</label>
                <input type="number" class="form-control" id="consultantID" placeholder="Consultant ID">
            </div>
            <div class="form-group">
                <label class="sr-only" for="exampleInputPassword3">Password</label>
                <input type="password" class="form-control" id="consultantPassword" placeholder="Password">
            </div>
            <!--<div class="checkbox">-->
                <!--<label>-->
                    <!--<input type="checkbox"> Remember me-->
                <!--</label>-->
            <!--</div>-->
            <button type="submit" class="btn btn-primary btn-sm disabled">Sign in</button>
        </form>
    </div>
   </div>
