
<h3>{{{title}}} Team Members</h3>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Consultant Code</th>
        <th>Consultant Name</th>

    </tr>
    </thead>
    <tbody>
        {{#each agentsDetails}}

        <tr>
            <td scope="row">{{this.consultantCode}}</td>
            <td scope="row">{{this.consultantName}}</td>
        </tr>
        {{/each}}

    </tbody>
</table>